.aws-btn {

    --button-default-height: 46px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 11px;
    --button-horizontal-padding: 16px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1.5;
    --transform-speed: 0.15s;
    --button-primary-color: #feffe9;
    --button-primary-color-dark: #ffeffc;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #ffbfd9;
    --button-primary-color-active: #ffcee6;
    --button-primary-border: 2px solid transparent;
}